@{
    ViewData["Title"] = "Nuevo producto";
}

<div class="container-fluid justify-content-center" style="max-width: 75ch">
    <div class="d-flex align-items-center" style="gap: 2rem">
        <h1 class="display-5">Producto 1</h1>
        <h3>
            <span class="badge bg-success">Q. 9.99</span>
        </h3>
    </div>

    <p class="mt-3 fs-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur repudiandae nobis eos iure distinctio nihil amet doloremque sunt, exercitationem consequuntur, aliquid similique voluptas! Illo repellendus eius, tenetur fugiat tempore asperiores!
    </p>

    <div class="text-muted text-end mt-4">
        Producto creado el 24/10/2022
    </div>
</div>
