@model ProductsApp.Models.EditProductViewModal;
@{
    ViewData["Title"] = "Editar producto";
}

<div class="container-fluid justify-content-center" style="max-width: 75ch">
    <h1 class="display-5 text-center">Editar producto</h1>

    <form asp-action="Edit" asp-controller="Products" method="post" class="d-flex flex-column mt-4" style="gap: 1rem">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <div>
            <label asp-for="Name" class="form-label">Nombre:</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Nombre del producto...">
        </div>

        <div>
            <label asp-for="Description" class="form-label">Descripcion:</label>
            <textarea asp-for="Description" class="form-control" placeholder="Descripcion del producto..." rows="3"></textarea>
        </div>

        <div>
            <label asp-for="Price" class="form-label">Precio:</label>
            <div class="input-group mb-3">
                <span class="input-group-text">Q</span>
                <input asp-for="Price" type="number" step="0.01" class="form-control" placeholder="9.99" aria-label="Amount (to the nearest dollar)">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-secondary" asp-action="Index" asp-controller="Products">Cancelar</a>
        </div>
    </form>
</div>
